.titlePanelContainer {
  margin: 5px 5px 15px 5px;
  padding: 5px;
  color: #383838;
  font-family: "Song Myung", serif;
}

.titlePanelContainer .TPCtop {
  margin-bottom: 5px;
}

.titlePanelContainer .TPCtop h1 {
  margin-bottom: 5px;
}

.titlePanelContainer .TPCbottom {
  margin-bottom: 5px;
}
